/* cts style sheet v1 2026-01-08 */
*, *::before, *::after {box-sizing: inherit;}
html {
  font-size: calc(16px + 0.5vw);
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/* body START */
body{
  font-size: 1rem;
  line-height: 1.5;
  background-image: url("../../../perm/black.png");
  color: rgb(221, 221, 221);
  width: 100%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px; 
}
@media screen and (min-width: 1001px) {body {width: auto; max-width: 60vw;}}
/* body END */

/* superscript & subscript START */
sup {vertical-align: super; font-size: 0.75em;}
sub {vertical-align: sub; font-size: 0.75em;}
.m-sup {vertical-align: super; font-size: 1em}
.m-sub {vertical-align: sub; font-size: 1em;}

/* link START */
a{border-style: solid; border-color: rgb(17, 17, 255); padding: 0px 1px; border-radius: 5px;}
a:link {color: inherit;}
a:visited{border-color: rgb(216, 15, 216); color: inherit;}
a:hover {color: darkred; background-color: rgb(172, 172, 172); text-decoration: underline;}
a:active {color: #ebff33; background-color: rgb(218, 140, 126); text-decoration: underline;}
/* link END */

/* header */
header {
  position: fixed;
  font-size: 18px;
  line-height: normal;
  top: 0px;
  width: 100%;
  height: 30px;
  border: rgb(146, 70, 8);
  border-width: 1px;
  border-style: solid;
}
@media screen and (min-width: 1001px) {
  header {
    left: 0px;
}} 
/* header colors main */
.hcmain{ background-color: #1a1a1a; color: rgb(221, 221, 221);}
/* header colors apx */
.hcapx{ background-color: #800000; color: rgb(255, 255, 255);}
/* header colors settings */
.hcsettings{ background-color: #cfd2ff; color: black;}
/* headernav */
.headernav{
  display: flex;
  justify-content: flex-end;
  padding: 2px 2px;
}
@media screen and (min-width: 1001px) {
.headernav {
  justify-content: flex-start;
}} 
.headerpopup {
  display: flex;
  justify-content: center;
  padding: 2px 2px;
}

/* nav Locations START */
/* The container <div> - needed to position the dropdown content */
.lddcontainer {
  position: relative;
  display: inline;
}
/* location dropdown show hide */
.lddsh:hover .lddcontent {display: block;}
/* Dropdown Content (Hidden by Default) */
.lddcontent {
  display: none;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  left: -60px;
  background-color: rgba(219, 219, 219, 1);
  color: rgb(0, 0, 0);
  line-height: 1.5;
  min-width: 160px;
  max-height: 90vh;
  font-size: 20px;
  resize: both;
  border: 4px solid rgb(146, 70, 8);
  z-index: 2;
  overflow: auto;
}
@media screen and (min-width: 1001px) {
.lddcontent  {
  display: block;
  left: 0px;
  top: 25px;
  max-height: 90vh;
}}
/* Links inside the dropdown */
.lddcontent a {
  color: rgb(25, 21, 230);
  padding: 7px 5px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.lddcontent a:visited{color: rgb(25, 21, 230);}
.lddcontent a:hover {background-color: #eeb79e}
/* nav Locations END */

/* nav bookmarks START */
/* The search field */
#bmInput {
  box-sizing: border-box;
  width: 150px;
  background-image: url('../../img/icons/searchicon.png');
  background-position: 2px 9px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 2px 12px 25px;
  border: none;
  border-bottom: 1px solid #ddd;
}
/* The search field when it gets focus/clicked on */
#bmInput:focus {outline: 3px solid #1b1392;}
/* The container <div> - needed to position the dropdown content */
.bmddcontainer {
  position: relative;
  display: inline;
}
  /* location dropdown show hide */
  .bmddsh:hover .bmddcontent {display: block;}
  .bmddsh:hover .bmddcontent2 {display: block;}  
/* Dropdown Content (Hidden by Default) */
.bmddcontent {
  display: none;
  position: absolute;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  left: -0px;
  background-color: #dddddd;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  min-width: 160px;
  max-height: 80vh;
  font-size: 20px;
  resize: both;
  border: 4px solid rgb(146, 70, 8);
  z-index: 1;
  overflow: auto;
}
@media screen and (min-width: 1001px) {
  .bmddcontent  {
    display: block;
    margin-left: 85vw;
    left: -50px;
    top: 25px;
    max-height: 80vh;
  }}
.bmddcontent2 {
  display: none;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  left: -0px;
  background-color: rgba(23, 5, 156, 0.5);
  color: rgb(0, 0, 0);
  min-width: 150px;
  max-height: 40vh;
  font-size: 16px;
  border: 4px solid rgb(146, 70, 8);
  z-index: 1;
  overflow: auto;
}
@media screen and (min-width: 1001px) {
  .bmddcontent2  {
    display: block;
    margin-left: 85vw;
    left: -50px;
    bottom: -55px;
    max-height: 80vh;
  }}
/* Links inside the dropdown */
.bmddcontent a {
  color: rgb(25, 21, 230);
  padding: 5px 3px;
  font-size: 20px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.bmddcontent a:hover {background-color: #eeb79e}
/* toggle display */
.bmshow {display:block;}
/* nav bookmarks END */

/* appendix search START */
/* The search field */
#apsearchBar {
  box-sizing: border-box;
  width: 210px;
  background-image: url('../../img/icons/searchicon.png');
  background-position: 2px 9px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 2px 12px 25px;
  border: none;
  border-bottom: 1px solid #ddd;
}
/* The search field when it gets focus/clicked on */
#apsearchBar:focus {outline: 3px solid #1b1392;}
/* The container <div> - needed to position the dropdown content */
.apddcontainer {
  position: relative;
  display: block;
}
/* Dropdown Content (Hidden by Default) */
.apddcontent {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 1.85;
  min-width: 160px;
  padding: 2px;
  resize: both;
  border: none;
  z-index: 1;
  overflow: auto;
  list-style-type: none;
}
.apddcontent2 {
  display: block;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: right;
  color: rgb(0, 0, 0);
  min-width: 200px;
  max-height: 40vh;
  font-size: 20px;
  border: 4px solid rgb(146, 70, 8);
  z-index: 1;
  overflow: auto;
}
/* Links inside the dropdown */
.apddcontent a {
  border: 1px solid rgb(255, 0, 0);;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.apddcontent a:hover {
  background-color: rgb(187, 253, 253);
  color: black;
  border-color: blue;
}

/* nav settings START */
.sddcontainer {
  position: relative;
  display: block;
  }
/* settings font size */
.sddcontent {
  display: block;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: -30px 0px 0px 0px;
  padding: 1px;
  max-height: 80vh;
  min-height: fit-content;
  background-color: rgb(192, 192, 255);
  z-index: 99;
  resize: both;
  overflow: auto;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: rgb(19, 19, 146);
}  
@media screen and (min-width: 1001px) {
.sddcontent  {
  
  max-width: 58vw;
  min-width: 58vw;
}}

/* Show hide settings */
.sshow {display:block;
}
.settingsnav{
  display: flex;
  justify-content: space-evenly;
  background-color: #6458ff;
}
/* settings sub menu */
.ssm{display: none;}
.ssmc{background-color: rgb(226, 226, 226);}
/* nav settings END */

/* nav misc START */
/* hides navigation button */
.navdropbtn{}
@media screen and (min-width: 1001px) {.navdropbtn {display: none;}}
  
/* title in header in small screen mode */
.smallScreenTitle {
  font-size: 20px; 
  font-weight: bolder;
  flex-grow: 1; 
  display: inline-flex; 
  justify-content: center;
}
@media screen and (min-width: 701px) {.smallScreenTitle {display: none;}}

/* title in header in mid screen mode */
.midScreenTitle {
  font-size: 20px; 
  font-weight: bolder;
  flex-grow: 1; 
  display: inline-flex; 
  justify-content: center;
}
@media screen and (max-width:700px) {.midScreenTitle {display: none;}}
@media screen and (min-width:1001px) {.midScreenTitle {display: none;}}

/* title in header in wide screen mode */
.wideScreenTitle {
  font-size: 20px; 
  font-weight: bolder;
  flex-grow: 1; 
  display: none; 
  justify-content: center;
}
@media screen and (min-width: 1001px) {.wideScreenTitle {display: inline-flex;}}

/* title in header in popup */
.popupTitle {
  font-size: 20px; 
  font-weight: bolder;
  display: inline-flex; 
  justify-content: center;
}
.put2{ background-color: #1a1a1a;}
/* navigation, bookmarks and settings buttons in header */
.menubtn{
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  margin: 0px 2px;
  cursor: pointer;
}
.menubtn:hover{
  border-color: aqua;
  background-color: rgb(41, 41, 41);
  color: #dddddd;
}
/* top menu in settings */
.smenubtn{
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  margin: 5px 2px;
  cursor: pointer;
}
.smenubtn:hover{
  border-color: aqua;
  background-color: #daf9fc;
}
.smenubtn:active{
  border-color: red;
  background-color: #ffe1e1;
  position:relative;
	top:2px;
  left:2px;
}
/* buttons in settings menu */
.settingsbtn{
  font-size: 18px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #333236;
  cursor: pointer;
}
.settingsbtn:hover{
  border-color: aqua;
  color: #dddddd;
  background-color: rgb(41, 41, 41);
}
.settingsbtn:active{
  border-color: red;
  color: black;
  background-color: rgba(255, 0, 0, 0.1);
  position:relative;
	top:2px;
  left:2px;
}
/* restore settings defaults button */
.srDefaults {
  border-width: 2px;
  margin: 5px 2px 2px 5%;
  padding: 3px 3px;
  margin: 1px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  border-radius: 15px;
  float: right;
  text-decoration-line: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(250, 236, 236);
}
.srDefaults:hover  {
  border-color: aqua;
  color: inherit;
  background-color: rgb(228, 254, 255);
}
.srDefaults:active  {
  border-color: aqua;
  color: red;
  position:relative;
	top:2px;
  left:2px;
}
/* top title of settings */
.settingstitle{
  display: flex;
  justify-content: space-evenly;
}
/* nav misc END */

/* main, page title, flexs, section START */
main {
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  padding: 0px 2px;
  border-radius: 10px;
}
.pageTC{
  display: block;
}
.pageTitle{
  display: inline-block;
  font-weight: bolder;
  background-color: #1a1a1a;
  border-radius: 45%;
  border-color: rgb(146, 70, 8);
  border-width: 10px;
  border-style: outset;
  padding: 1px 15px;
}
.seeddiv{
  border-radius: 50%;
  border-style: none;
  padding: 1px;
  background-color: transparent;
  color: rgb(116, 4, 4);
  font-size: 22vmin;
  font-family: 'Times New Roman', Times, serif;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seedimg{
  border-radius: 50%;
}
.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexse{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section {
  color: inherit;
  font-size: 1rem;
  padding: 5px;
  margin: 15px 0px;
  background-color: #1a1a1a;
  border-radius: 10px;
  border-color: rgb(146, 70, 8);
  border-style: solid;
  border-width: 3px;
  overflow: auto;
}
article {
  color: inherit;
  font-size: 1rem;
  padding: 1px;
  margin: 15px 2px;
  background-color: #1a1a1a;
  border-radius: 0;
  border-top-left-radius: 20% 40px;
  border-top-right-radius: 50% 70px;
  border-color: rgb(155, 0, 0);
  border-style: solid;
  border-width: 15px 3px 10px 3px;
  overflow: auto;
  box-shadow: 
  0 0 0 2px rgb(0, 187, 187);
} 
.quote {
  border-left: 4px solid rgb(146, 70, 8);;
  display: block;
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  font-style: italic;
}
/* math css */
.math-container {
  display: inline-flex;
  align-items: center; /* Vertically centers parentheses with the fraction */
  font-family: serif;
}
.paren {
  font-size: 1.8em; /* Makes parentheses naturally larger */
  padding: 1px 1px 0px 1px;
}
.fraction {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  padding: 1px 0.5em 1px 0.5em;
}
.numerator {
  border-bottom: 2px solid #dddddd; /* fraction line */
  padding: 2px 2px 0px 2px;
}
.denominator {
  padding: 1px 2px 0px 2px;
}
/* table of contents */
.toc {
  font-weight: bold;
  font-size: 1.08em;
}
img {
  max-width: 95%;  
  margin: 5px 5px 5px 5px;
  background-color: inherit;
  text-decoration-line: underline;
  cursor: pointer;
}
img:hover {
  color: darkred; 
  background-color: rgb(172, 172, 172); 
  text-decoration: underline;
}

/* embedded youtube videos */
.ytvideo {
  width: 560px;
  height: 315px;
  border: 0px;
}
@media screen and (orientation: portrait){
  .ytvideo {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
/* main, page title, flexs, section END */

/* tooltips START */
/* tooltips group container */
.ttgroup{
  position: fixed;
  display: inline-block;
  max-width: 1px; 
  max-height: 1px;
  background-color: #1a1a1a;
  border-color: rgb(146, 70, 8);
  box-sizing: border-box;
}
/* tooltips div */
.ttdiv {
  min-width: 95vw;
  max-width: 95vw;
  max-height: 85vh;
  padding: 5px 1px 25px 1px;
  color: inherit;
  background-color: inherit;
  margin: 5px 0px;
  display: none; 
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: -30px;
  border-width: 20px 10px;
  border-color: inherit;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 
    0 0 0 3px rgb(0, 255, 255),
    0 0 0 80vmax rgba(0, 0, 0, 0.8)
    ;
  overflow-y: auto;
}
@media screen and (min-width: 1001px) {
  .ttdiv  {
    min-width: 58vw;
    max-width: 58vw;
  }}

.ttdiv h2 {
  color: inherit;
  background-color: inherit;
  padding: 5px 5px;
  margin: 2px 2px;
}
.ttdiv p {
  color: inherit;
  background-color: inherit;
  padding: 5px 5px;
  margin: 2px 2px 2px 2px;
  
}
/* appendix popup and appendix iframe */
.apu {
  border-color: rgb(155, 0, 0);
  height: 90vh;
  max-height: 90vh;
  border-width: 10px 10px;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}
.aif {
  frameborder: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* tt open button */
.ttbo {
  background-color: inherit;
  border: none;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: red;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.ttbo:hover  {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: rgb(2, 59, 2);
  background-color: rgb(187, 253, 253);
}
.ttbo:active  {
  color: red;
  background-color: rgb(187, 253, 253);
}
/* tt close button */
.ttbc {
  border-width: 2px;
  margin: 5px 2px 2px 5%;
  padding: 2px 2px;
  margin: 0% 5% 0% 1%;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  border-radius: 15px;
  float: right;
  text-decoration-line: none;
  color: black;
  font-size: 1.3em;
  cursor: pointer;
  background-color: rgb(250, 236, 236);
}
.ttbc:hover  {
  border-color: aqua;
  color: inherit;
  background-color: inherit;
}
.ttbc:active  {
  border-color: aqua;
  color: red;
  position:relative;
	top:2px;
  left:2px;
}
/* tooltips END */

/* tools, strategies, theories button START */
.cores{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
}
.cores a{
  line-height: normal;
  text-decoration: none;
  background-color: rgb(247, 225, 193);
  border-style: solid;
  border-width: 3px;
  border-color: aqua;
  border-radius: 10px;
  padding: 1px 5px;
  color: black;
  font-weight: bolder;
}
.cores a:hover{
  border-color: rgb(255, 0, 0);
  background-color: rgb(109, 65, 0);
  color: rgb(113, 241, 241);
}
.cores a:active{
  position:relative;
	top:2px;
  left:2px;
  color: #a70000;
  border-color: #ebff33;
  background-color: aqua;
}
/* tools, strategies, theories button END */

/* use class hidediv for div that you want to toggle display */
.hidediv {display: none;}
/* toggle needs to be underneath the class that it acts upon */
.tdbs {display:block;}
.tdibs {display:inline-block;}
.tdfs {display:flex;}
